:root {
  --primary-color: #023047;
  --primary-light-color: #0077cc;

  --secondary-color: #016dda;
  --secondary-light-color: #ffe066;

  --background-color: #f9f9f9;
  --surface-color: #ffffff;
  --border-color: #e0e0e0;

  --primary-text-color: #ebeaea;
  --secondary-text-color: #4d4d4d;
  --link-color: #0066aa;

  --deal-color: #ff6b35;
  --discount-color: #00aa44;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #3399ff;
    --primary-light-color: #66bbff;

    --secondary-color: #ffcc33;
    --secondary-light-color: #ffdd66;

    --background-color: #121212;
    --surface-color: #1e1e1e;
    --border-color: #333333;

    --text-primary-color: #e0e0e0;
    --text-secondary-color: #bbbbbb;
    --link-color: #3399ff;

    --deal-color: #ff5c5c;
    --discount-color: #66ff66;
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-primary-color);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
